@charset "utf-8";

/**
 * 이 파일은 반응형 웹 그리드 시스템의 축약된 버전입니다. 완성된 형태는 뷰포트를 12분할 또는 16분할하여 그리드를 쪼갭니다.
 * 예시를 설명하기 전에 먼저 부모 자식 관계로 마크업이 되어 있다고 가정하겠습니다. 만약 태블릿 해상도에서는 자식 셋이 x축으로 나란히 위치해야 하고, 모바일 해상도에서는 y축으로 블록 쌓듯이 쌓여야 한다면, 클래스 이름을 아래와 같이 줍니다. 
 *
 * <div class="mobile-1 tablet-3">
 *    <div>자식</div>
 *    <div>자식</div>
 *    <div>자식</div>
 * </div>
 *
 * <div> 태그가 아니라 다른 태그로 바꿔도 상관이 없습니다. 또한, PC 해상도 대응도 CSS 선택자를 추가한다면 바로 적용 가능합니다.
 */

*[class^='tablet'],
*[class^='mobile'] {
  display: grid;
}

// 모바일 해상도 대응
.mobile-1 {
  grid-template-columns: repeat(1, auto);
}

.mobile-2 {
  grid-template-columns: repeat(2, auto);
}

.mobile-3 {
  grid-template-columns: repeat(3, auto);
}

// 태블릿 해상도 대응
@media all and (min-width: 768px) and (max-width: 1366px) {
  .tablet-1 {
    grid-template-columns: repeat(1, auto);
  }

  .tablet-2 {
    grid-template-columns: repeat(2, auto);
  }

  .tablet-3 {
    grid-template-columns: repeat(3, auto);
  }
}
